<div class="card shadow pb-0" style="width:300px; min-width: 250px;">

    <div style="height:300px" class="p-1">
        <a href="{% url 'postdetail' post.slug %}">
            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="card-image-top"
                style="width:100%">
        </a>
    </div>

    <div class="card-body alert alert-success mb-0 py-0">
        <h3 class="card-title text-center">{{ post.title }}</h3>

        <p>
            {{post.content|truncatechars:40}}
            <span class="badge bg-secondary ">{{ post.category }}</span>
            <span class="badge bg-dark">{{ post.user }}</span>
        </p>
    </div>

    <div class="card-footer">
        <h6>Published : {{post.publish_date}}</h6>
        <h6>Updated : {{post.last_updated}}</h6>
        <div class="d-flex justify-content-between alert alert-dark">
            <span class="d-flex justify-content-between w-50">
                <span><i class="far fa-comment-alt ml-2"></i> </span>
                <span><i class="fas fa-eye ml-2"></i></span>
                <span><i class="far fa-heart ml-2"></i></span>
            </span>
            <span class="">
                {% if request.user == post.user %}
                <a href="{% url 'postupdate' post.id %}" class="badge bg-success text-decoration-none">edit</a>
                <a href="{% url 'postdelete' post.id %}" class="badge bg-danger text-decoration-none">del</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>